.entry .body{
    margin: 0 0 1em;
}

@media only screen and (max-width: 768px) {
    .item-title {
        margin-top: 20px !important;
    }
}

.entry .title {
    width: 36.5% !important;
}

.entry .title::before {
    right: 1px !important;
}

@media only screen and (max-width: 768px) {
    .entry .title {
        width: 70% !important;
    }
}